<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} || [%t] || %-5level || %C{10}:%L || %msg%n"/>
            <ThresholdFilter level="INFO"/>
        </Console>
        <RollingFile name="infoFile" fileName="log/washup-info.file" filePattern="log/archive/worktrial-info-%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} || [%t] || %-5level || %C{10}:%L || %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30" fileIndex="min"/>
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="infoFile" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>